<div class="container">
        <div class="row" style="margin-top: 20%;">
        <div class="col-sm form" style="background-color: white">
            <form>
                <br>
                <div class="form-group">
                    <label for="formGroup">Usuário</label>
                    <input type="text" class="form-control" id="formGroup" placeholder="usuário">
                </div>
                <div class="form-group">
                    <label for="formGroup">Senha</label>
                    <input type="text" class="form-control" id="formGroup" placeholder="senha">
                </div>
                <br><br>
                <button type="button" class="btn btn-primary">Cadatrar</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
                <br><br>
            </form>
        </div>
    </div>
</div>