<div class="container">
    <div class="row" style="margin-top: 20%;">
        <div class="col-sm form" style="background-color: white">
            <form>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="grupo">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="arquivo" aria-describedby="grupo">
                        <label class="custom-file-label" for="arquivo">Procurar Arquivo</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="titulo">Título do Vídeo</label>
                    <textarea class="form-control" id="titulo" rows="3"></textarea>
                </div>
                <br>
                <div class="container">
                    <div class="">
                        <button type="button" class="btn btn-primary">Efetuar</button>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>