<div class="">
    <div class="container fontes">
        <br>
        <h1 class="alinhamento">Vídeos</h1>
        <br>
        <strong>
            <p class="">Ei jogador, seja bem-vindo em nosso Portal do Craque. Selecione a data em que deseja
                assistir os vídeos.</p>
            <br>
            <br>
            <div class="input-group" style="position: relative;">
                <input type="date">
                <div class="input-group-append" style="background-color: white;">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Buscar</button>
                </div>                
            </div>            
            <br>
            <br>
        </strong>
    </div>

    <div class="card " style="margin: 4rem;">

        <div class="card-header" style="margin: auto;">
            <strong>18/12/2021</strong>
        </div>
        <div class="row" style="margin: auto;">
            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="800" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>

            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>

        </div>
        <!--<div class="card-body" style="margin-bottom: 0%;"></div>-->

    </div>

    <div class="card" style="margin: 4rem;">
        <div class="card-header" style="margin: auto;">
            <strong>18/12/2021</strong>
        </div>
        <div class="row" style="margin: auto;">
            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="800" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>

            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 18rem;">
                <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="row" style="margin: auto;">

        <div class="card" style="width: 24rem; height: 18rem;">
            <iframe class="card-img-top" width="800" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <div class="card-body">
                <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
            </div>
        </div>

        <div class="card" style="width: 24rem; height: 18rem;">
            <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <div class="card-body">
                <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
            </div>
        </div>

        <div class="card" style="width: 24rem; height: 18rem;">
            <iframe class="card-img-top" width="600" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <div class="card-body">
                <h5 class="card-title">Quarta 15/12, 18:00 às 19:00</h5>
            </div>
        </div>




    </div>
    -->


</div>


<!-- <iframe width="853" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <iframe width="853" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe> -->

<!--<li *ngFor="let item of this.lista">
        <iframe [src]="item" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
        {{item}}
    </li>-->
<!--iframe width="853" height="480" src="https://www.youtube.com/embed/Z1Y36AY8coU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></-iframe>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/xN-76MKRds0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    -->